* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 10px;
    text-align: center;
}
fieldset {
    border: 1px solid;
    padding: 30px;
}
label {
    float: left;
    line-height: 24px;
    min-height: 24px;
    padding-right: 1%;
    text-align: right;
    width: 15%;
    vertical-align: top;
}
input[type=checkbox] {
    margin: 1px 0 0;
}
input[type=submit] {
    margin-top: 15px;
}
input:not([type=submit]) {
    height: 24px;
}
textarea {
    height: 150px;
    padding: 3px;
}
.wrapper {
    clear: both;
    height: auto;
    padding: 3px;
    text-align: left;
}
.option {
    width: 85%;
}
fieldset fieldset {
    width: 85%;
    border-color: #DDDDDD;
}
fieldset fieldset label {
    width: 20%;
}
fieldset fieldset .option {
    width: 80%;
}
