* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 10px;
    text-align: center;
}
fieldset {
    padding: 30px;
}
label {
    float: left;
    line-height: 24px;
    min-height: 24px;
    padding-right: 1%;
    text-align: right;
    width: 15%;
    vertical-align: top;
}
input[type=checkbox] {
    margin: 1px 0 0;
}
input[type=submit] {
    margin-top: 15px;
}
input:not([type=submit]) {
    height: 24px;
}
select {
    width: 85%;
}
textarea {
    height: 150px;
    padding: 3px;
    width: 85%;
}
.inputElement {
    border-radius: 3px;
    border: 1px solid #B3B3B3;
    clear: both;
    width: 85%;
}
.wrapper {
    clear: both;
    height: auto;
    padding: 3px;
    text-align: left;
}
